<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout/layout}" th:with="titulo='Cadastro de Aposta'">
<body>
<div layout:fragment="content">

    <form th:action="@{/apostas}" method="POST" th:object="${aposta}">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{dezenas}" />
        <input type="hidden" th:field="*{preco}" />
        <input type="hidden" th:field="*{apostador}" />
        <input type="hidden" th:field="*{dataDeRegistro}" />

        <label for="qtdeDezenas" class="form-label">Quantidade de dezenas a apostar:</label>
        <select th:field="*{qtdeDezenas}" class="form-select">
            <option th:each="i : ${#numbers.sequence(6, 10)}" th:value="${i}" th:text="${i}">
            </option>
        </select>
        <p th:if="${#fields.hasErrors('qtdeDezenas')}" th:errorclass="error" th:errors="*{qtdeDezenas}" class="alert alert-danger" /><br /><br />

        <label for="sorteio" class="form-label">Sorteio:</label>
        <select th:field="*{sorteio}" class="form-select" id="sorteio">
            <option th:each="u : ${sorteios}" th:value="${u.id}" th:text="${#dates.format(u.dataHora, 'dd/MM/yyyy') + '- Prêmio R$ ' + u.valor }">
            </option>
        </select> <br />

        <input type="submit" value="Gerar dezenas" />
    </form>
</div>

</body>

</html>