<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout/layout}" th:with="titulo='Cadastro de Aposta'">
<body>
<div layout:fragment="content">

    <form th:action="@{/apostas/preSave}" method="POST" th:object="${aposta}">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{dezenas}" />
        <input type="hidden" th:field="*{preco}" />
        <input type="hidden" th:field="*{apostador}" />

        <label for="qtdeDezenas" class="form-label">Quantidade de dezenas a apostar:</label>
        <select th:field="*{qtdeDezenas}" class="form-select">
            <option th:each="i : ${#numbers.sequence(6, 10)}" th:value="${i}" th:text="${i}">
            </option>
        </select>
        <p th:if="${#fields.hasErrors('qtdeDezenas')}" th:errorclass="error" th:errors="*{qtdeDezenas}" class="alert alert-danger" /><br /><br />

        <input type="submit" value="Gerar dezenas" />
    </form>

    <form  th:action="@{/apostas}" method="POST" th:object="${aposta}">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{qtdeDezenas}" />
        <input type="hidden" th:field="*{preco}" />
        <input type="hidden" th:field="*{apostador}" />

        <label class="form-label">Dezenas:</label>
        <input type="text" th:field="*{valor}" class="form-control" />
        <div th:each="dezena, stat : *{dezenas}">
            <input type="text" th:field="*{dezena[__${stat.index}__]}" />
        </div>

        <br/><br />

        <input type="submit" value="Salvar" />
    </form>
</div>

</body>

</html>