<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org"  layout:decorate="~{layout/layout}" th:with="titulo='Apostas'">

<body>
<div layout:fragment="content">

    <form th:action="@{/apostas/form}" method="GET">
        <button class="btn btn-primary" type="submit">Apostar</button>
    </form>
    <br />

    <div th:if="${not #lists.isEmpty(apostas)}">
        <div th:text="'Total ' + ${#lists.size(apostas)} + ' registros'" style="text-align: right; color: gray; font-size: 0.85em;" />
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Preço</th>
                <th>Quantidade de Dezenas</th>
                <th>Sorteio</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aposta : ${apostas}">
                <td><a th:href="@{/apostas/{id}(id=${aposta.id})}" th:text="${aposta.id}"></a></td>
                <td th:text="${aposta.preco}"></td>
                <td th:text="${aposta.qtdeDezenas}"></td>
                <td>
                    <form th:action="@{/apostas/{id}/delete(id=${aposta.id})}">
                        <button type="submit" class="btn btn-primary btn-sm" }>Excluir</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>