<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org"  layout:decorate="~{layout/layout}" th:with="titulo='Apostas Favoritas'">

<body>
<div layout:fragment="content">

    <br />

    <div th:if="${not #lists.isEmpty(apostasFavoritas)}">
        <div th:text="'Total ' + ${#lists.size(apostasFavoritas)} + ' registros'" style="text-align: right; color: gray; font-size: 0.85em;" />
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Número</th>
                <th>Preço</th>
                <th>Qtd de Dezenas</th>
                <th>Dezenas</th>
                <th>Sorteio</th>
                <th>Ganhou?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aposta : ${apostasFavoritas}">
                <td><a th:href="@{/apostas/{id}(id=${aposta.id})}" th:text="${aposta.id}"></a></td>
                <td th:text="${aposta.preco.getValue()}"></td>
                <td th:text="${aposta.qtdeDezenas}"></td>
                <td><span th:each="dezena : ${aposta.dezenas}" th:text="${dezena + ' | ' }"></span></td>
                <td th:text="${#dates.format(aposta.sorteio.dataHora, 'dd/MM/yyyy')}"></td>
                <td th:text="${aposta.isVencedora} ? 'VENCEDOR' : ''"></td>
                <td>
                    <form th:action="@{/apostas/{id}/remove-favorita(id=${aposta.id})}">
                        <button type="submit" class="btn btn-primary btn-sm" }>Remover</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/apostas/{id}/reaproveitar-favorita(id=${aposta.id})}">
                        <button type="submit" class="btn btn-primary btn-sm" }>Reaproveitar dezenas</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>