.logo-bar {
    background-color: #CB8748;

}

.logo-bar img {
    vertical-align: sub;
    margin-right: 5px;
}

.logo-font {
    font-family: 'Fugaz One', cursive;
    font-size: 2.3rem;
}

.navbar-custom {
    background-color: #CB8748;
}
