<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Home'">
 <head>
     <link rel="stylesheet" href="../static/css/home.css">
 </head>

<body>
<div layout:fragment="content">

    <h2>Caramelo da Sorte</h2>

    <p>Sua aposta com pedigree!</p>

    <div>Como apostador, você poderá:</div>
    <ul>
        <li>Cadastrar apostas de 6 à 10 dezenas</li>
        <li>Favoritar apostas</li>
        <li>Gerar novas apostas com as mesmas dezenas das favoritas</li>
    </ul>

    <h3>TABELA DE PREÇOS</h3>
    <table>
        <thead>
            <tr>
                <th>Qtde Dezenas</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6</td>
                <td>R$ 3.00</td>
            </tr>
            <tr>
                <td>7</td>
                <td>R$ 15.00</td>
            </tr>
            <tr>
                <td>8</td>
                <td>R$ 90.00</td>
            </tr>
            <tr>
                <td>9</td>
                <td>R$ 300.00</td>
            </tr>
            <tr>
                <td>10</td>
                <td>R$ 1200.00</td>
            </tr>
        </tbody>

    </table>
</div>

</body>
</html>